.notFound {
  margin: 2rem;
}

.notFound p {
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.notFound button {
  border: none;
  background-color: var(--white);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}

.notFound button:hover {
  transform: scale(1.05);
}
